<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ToDoList</title>
</head>
<body id="app">
    <header>
        <h1>List</h1>
    </header>
    <div>
        
            <input type="text" v-model="newtodo">    
            <button @click="addTodo()" >click</button>

        
        
        
    </div>
    <ul>
        <li v-for="task in toDo" :class="{
            'barrato': task.alreadyDid == true
            }">
            {{ task.do }}
            
        </li>
        
    </ul>

    



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>